<!DOCTYPE html>
<html>
<head>
  <title>Blog 9185</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/emojify.js/0.9.5/emojify-emoticons.min.css" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/emojify.js/0.9.5/emojify.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<script type="text/javascript">$(document).ready(function() {
  if ($('textarea').length > 0) {
    var data = $('textarea');
    $.each(data, function(i) {
      CKEDITOR.replace(data[i].id);
    });
  }
});</script>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-10"><%= yield %></div>
  </div>
</div>
</body>
</html>
